#!/bin/bash

function psaux { ps auxww | grep -i $@ | grep -v grep ;}
function lpcurl { echo "------------------------------\ncurl $1 times the url $2\n------------------------------\n"; for ((i=1;i<=$1;i++)); do curl -i $2; echo "\n------------------------------\n"; done }

function weather { curl wttr.in/$@ }

alias ll='ls -lahHF'

alias dm='docker-machine'
alias dc='docker-compose'

alias k=kubectl

alias history-edit='vim $HOME/.zsh_history'

function kset { kubectl config set-context $(kubectl config current-context) --namespace=$@ }

alias kconf-bkp='cp -av $HOME/.kube/config $HOME/.kube/config.bkp'
alias kconf-rcv='cp -av $HOME/.kube/config.bkp $HOME/.kube/config'

alias gpg-agent-setup='eval $(gpg-agent-setup.sh)'

function secrets { gpg --decrypt $@ }

alias gnupg-home='export GNUPGHOME=$HOME/.gnupg'
alias gnupg-guest='export GNUPGHOME=$HOME/.gnupg-guest'

alias deutsche-tan='gpg --decrypt $HOME/Dropbox/secrets/deutsche-bank-tan.jpg.gpg | open -f -a Preview.app'
alias real-psswd='gpg --decrypt $HOME/Dropbox/secrets/real_passwd_card.jpg.gpg | open -f -a Preview.app'
alias notes-private='gpg --decrypt $HOME/Dropbox/secrets/notes-private.txt.asc | open -f -a "Sublime Text.app"'

function new-script { cp $HOME/dev/juliaaano/scripts/template.sh $@ }

function jwt { jq -R 'split(".") | .[1] | @base64d | fromjson' <<< $@ }
